@import "tailwindcss";
:root {
  --font-cairo-sans: 'Cairo', sans-serif;
}

body {
  background-color: #F4F4F4;
  font-family: var(--font-cairo-sans);
}

html {
  direction: rtl;
}
.container
{
  width:90%;
  margin:auto;
}
li{
  margin: 0 0.8rem;
  cursor:pointer;
  transition: 0.4s;
}
li:hover{
  color:gray
}
.w-100{
  width: 100% !important;
}